<div class="container">
  <div [ngSwitch]="isWaitingForSurprise">
    <div *ngSwitchCase="true">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>
    <div *ngSwitchDefault>
      <div class="row padding-top fix-size">
        <div class="col-md-4">
          <div class="form-group">
            <input class="form-control" [(ngModel)]="data.startCity" placeholder="From">
          </div>
          <div class="form-group">
            <input class="form-control" [(ngModel)]="data.startDate" placeholder="Departure Date">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" [(ngModel)]="newCity.name" placeholder="City you 💖">
              <span class="input-group-btn">
            <button class="btn btn-primary" (click)="addNewCity()" [disabled]="!newCity.name || newCity.name.length === 0">+</button>
          </span>
            </div>
            <ul class="list-group padding-top">
              <li *ngFor="let city of data.cities; let i = index" class="list-group-item">
                {{city}}
                <button type="button" class="close" aria-label="Close" (click)="removeCityAt(i)">
          <span aria-hidden="true">&times;</span>
        </button>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input class="form-control" [(ngModel)]="data.endCity" placeholder="To">
          </div>
          <div class="form-group">
            <input class="form-control" [(ngModel)]="data.endDate" placeholder="Arrival Date">
          </div>
        </div>
      </div>
      <div class="row padding-top">
        <div class=float-right>
          <button class="btn btn-primary" (click)="surprise()">Surprise</button>
        </div>
      </div>
    </div>
  </div>
</div>