<div class="app-content">
  <md-card class="app-input-section">
    <md-grid-list cols="3">
      <md-grid-tile>
        <md-list>
          <md-list-item>
            <md-input [(ngModel)]="data.fromLocation" placeholder="From"></md-input>
          </md-list-item>
          <md-list-item>
            <md-input [(ngModel)]="data.fromDate" placeholder="When"></md-input>
          </md-list-item>
        </md-list>
      </md-grid-tile>
      <md-grid-tile>
        <md-list>
          <md-list-item>
            <md-input [(ngModel)]="newCity.name" placeholder="City"></md-input>
            <button md-button (click)="addNewCity()">+</button>
          </md-list-item>
          <md-divider></md-divider>
          <h3 md-subheader>Cities</h3>
          <md-list-item>
            <md-list>
              <md-list-item *ngFor="let city of data.cities">
                {{city}}
              </md-list-item>
            </md-list>
          </md-list-item>
        </md-list>
      </md-grid-tile>
      <md-grid-tile>
        <md-list>
          <md-list-item>
            <md-input [(ngModel)]="data.toLocation" placeholder="To"></md-input>
          </md-list-item>
          <md-list-item>
            <md-input [(ngModel)]="data.toDate" placeholder="When"></md-input>
          </md-list-item>
        </md-list>
      </md-grid-tile>
    </md-grid-list>
  </md-card>
  <md-card>
    <button md-button (click)="surprise()">Surprise</button>
  </md-card>
</div>